#streamlit
#pyttsx3
#wikipedia
#pywhatkit
#requests
#gTTS
#playsound
#newsapi-python
#pyaudio
#SpeechRecognition
#beautifulsoup4
#lxml
#googletrans==4.0.0-rc1
#transformers   
#torch
#tensorflow
#opencv-python
#Pillow
#numpy
#pandas
#base64
#cv2
#webbrowser
#datetime
#time
#os
#pyautogui
#warnings
#requests
#diffusers
#psutil
#shutil

